<?xml version="1.0" encoding="UTF-8"?>
<settings
    xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <proxies>
        <proxy>
            <active>true</active>
            <protocol>http</protocol>
            <host>bluecoat.qc.bell.ca</host>
            <port>80</port>
            <nonProxyHosts>dc5cge.qc.bell.ca</nonProxyHosts>
        </proxy>
    </proxies>
    <profiles>
        <profile>
            <id>hpuca-repo</id>
            <repositories>
                <repository>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <id>thirdparty</id>
                    <name>thirdparty</name>
                    <url>http://dc5cge.qc.bell.ca/nexus/content/repositories/thirdparty/</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <id>hpuca</id>
                    <name>hpuca</name>
                    <url>http://dc5cge.qc.bell.ca/nexus/content/repositories/releases/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>hpuca-plugin-repo</id>
                    <name>hpuca-plugin-repo</name>
                    <url>http://dc5cge.qc.bell.ca/nexus/content/repositories/thirdparty/</url>
                </pluginRepository>
                <pluginRepository>
                    <id>hpuca-plugin-release-repo</id>
                    <name>hpuca-plugin-release-repo</name>
                    <url>http://dc5cge.qc.bell.ca/nexus/content/repositories/releases/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>hpuca-repo</activeProfile>
    </activeProfiles>
    <servers>
        <server>
            <id>dc5cge</id>
            <username>deployment</username>
            <password>nexusbell01$</password>
        </server>
    </servers>
</settings>